<div>
  <%= link_to "tagを新規作成する", new_admin_tag_path %>
</div>

  <%= form_for Tag.new, url: admin_tag_delete_all_path, method: :delete do |f| %>
    <%= f.collection_check_boxes(:id, @tags, :id, :name) do |b| %>
      <%= b.label { b.check_box +  b.text } %>
    <% end %>
    <%= f.submit "  まとめて削除する" %> 
  <% end %>