<div class="container content">
  <div class="mt-4 background-image">
    <div class="col-12 col-md-9 d-flex flex-column align-items-center justify-content-center welcome-container">
      <div class="welcome-text mt-4 mb-4" >
        <p>
          みんなにやさしい、使いやすい場所を見つけよう<br>
          車いすやベビーカーを利用する方々が快適に過ごせる施設を見つけ、共有するためのサイトです。<br>
          あなたの体験をシェアして、誰もが安心して外出できる社会を一緒に作りましょう。
        </p>
      <div>
        <%= form_tag search_member_facilities_path, method: :get do %>
          <%= text_field_tag :keyword, params[:keyword], placeholder: '施設名で検索' %>
          <%= submit_tag '検索', class: "btn btn-outline", name: nil %>
        <% end %>
    </div>
    
<% @facilities_sorted.each do |facility| %>
  <div class="card">
    <div class="card-header">
      <% if facility.image.attached? %>
        <%= image_tag facility.image, size: "30x30" %>
      <% else %>
        <%= image_tag 'facility_no_image.png', size: "30x30" %>
      <% end %>
      <%= link_to facility.title, member_facility_path(facility) %>
      <span>  評価: <%= facility.average_rate.to_f.round(1) %></span> <!-- 総合評価を表示 -->
    </div>
    <div class="card-body">
      <div><%= facility.body %></div>
      <div class="tag"><%= render "member/facilities/tag_list", tag_list: facility.tag_list %></div>
    </div>
  </div>
<% end %>
      </div>
    </div>
  </div>
</div>