<div class="container">

  <% @facilities.each do |facility| %>
    <!-- card-index全体をリンクにする -->
    <%= link_to admin_facility_path(facility.id), class: 'card-index-link' do %>
      <div class="card-index">
        <div class="card-index-header">
          <% if facility.image.attached? %>
            <%= image_tag facility.image, class: 'facility-image' %>
          <% else %>
            <%= image_tag 'facility_no_image.png', class: 'facility-image' %>
          <% end %>
          <div class="facility-info">
            <span class="facility-title"><%= facility.title %></span>
            <div class="rating">
              総合評価: <%= @facility_ratings.present? ? (@facility_ratings[facility.id] || '評価なし') : '評価なし' %>
            </div>
          </div>
        </div>

        <div class="card-index-body">
          <div class="facility-description"><%= truncate(facility.body, length: 100) %>
          <div>
            〒<%= facility.postcode %>
              <%= facility.prefecture_name %>
              <%= facility.address_city %>
              <%= facility.address_street %>
              <%= facility.address_building %>
          </div>
          </div>
          <div class="tags"><%= render "admin/facilities/tag_list", tag_list: facility.tag_list %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>