<div class="container">
  <div class="row">
    <div class="col-auto">
      <h4 style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">施設詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="d-flex">

      <div>
      <%= image_tag @facility.image, size: "100x100" if @facility.image.attached? %>
        <table class="table facility_show">
          
          <tr>

            <th>施設名</th>
            <td><%= @facility.title %></td>
          </tr>
          <tr>
            <th>施設説明</th>
            <td><%= @facility.body %></td>
          </tr>
          <tr>
            <th>tag</th>
            <td><%= render 'member/facilities/tag_list', tag_list: @facility.tag_list %></td>
          </tr>
        </table>

<%= link_to "施設を削除", admin_facility_path(@facility), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
        <!--コメント一覧-->
<table class = "table">
  <thead>
    <tr>
      <th>コメント</th>
      <th>メンバー名</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% if @comments.nil? %>
      <tr>
        <td colspan="3">コメントはありません。</td>
      </tr>
    <% else %>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= comment.member.name %></td>
          <td>
            <div id="review-rating<%= comment.id %>" class="review-rating" data-score=<%= comment.rate %>></div>
            <%= render partial: "member/comments/show_rate", locals: { comment: comment } %>
          </td>
          <td><%= link_to "コメントを削除", admin_facility_comment_path(@facility,comment), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>