<div class="container">
  <div class="row">
    <div class="col-auto">
      <h4 style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">施設詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="d-flex">

      <div>
        <table class="facility_show">
          <tr>
            <td><%= image_tag @facility.image, size: "100x100" if @facility.image.attached? %></td>
            <th>施設名</th>
            <td><%= @facility.title %></td>
          </tr>
          <tr>
            <th>施設説明</th>
            <td><%= @facility.body %></td>
          </tr>
          <tr>
            <th>tag</th>
            <td><%= render 'member/facilities/tag_list', tag_list: @facility.tag_list %></td>
          </tr>
        </table>
<button class="btn btn-danger" id="delete-facility">施設を削除</button>
        <!--コメント一覧-->
<table>
  <thead>
    <tr>
      <th>コメント本文</th>
      <th>メンバー名</th>
    </tr>
  </thead>
  <tbody>
    <% if @comments.nil? %>
      <tr>
        <td colspan="3">コメントはありません。</td>
      </tr>
    <% else %>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= comment.member.name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>