<table class="table">
  <thead>
    <tr>
      <% if @member.image.attached? %>
        <%= image_tag @member.image, size: "100x100" %>
      <% else %>
        <%= image_tag 'member_no_image.png', size: "100x100" %>
      <% end %>
      <th>nickname</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @member.name %></td>
      <td><%= @member.email %></td>
    </tr>
  </tbody>
</table>

<%= link_to "ユーザー情報を編集する", edit_member_member_path(@member) %>