  <% if f.object.errors.any? %>
    <div class="error">
      <% f.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

<div class="mb-2">
  <%= f.label :title, "施設名" %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="mb-2">
  <%= f.label :body, "施設説明" %>
  <%= f.text_area :body, rows: 5, class: "form-control" %>
</div>

<div>
  <%= f.label :image, "施設画像" %>
  <%= f.file_field :image, accept: "image/*" %>
</div>

<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
  <%= b.label { b.check_box + b.text } %>
<% end %>

<div class="field">
  <%= f.label :postcode, '郵便番号' %>
  <%= f.text_field :postcode, placeholder: '000-0000', autocomplete: 'postcode', class: 'form-control',id: "facility_postcode" %>
</div>
<div class="field">
  <%= f.label :prefecture_name, '都道府県' %>
  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :address_city, '市区町村' %>
  <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :address_street, '番地' %>
  <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :address_building, '建物' %>
  <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
</div>



<div class="my-4">
  <%= f.submit "保存する", class: "btn btn-primary" %>
</div>


<script>
  jQuery(document).on("turbolinks:load", function() {
  /*global $*/
  $('#facility_postcode').jpostal({
    postcode : [
      // 取得する郵便番号のテキストボックスをidで指定
      '#facility_postcode'
    ],
    address: {
      // %3 => 都道府県、 %4 => 市区町村 %5 => 町域 %6 => 番地 %7 => 名称
      // それぞれを表示するコントロールをidで指定
      "#facility_prefecture_code"  : "%3",
      "#facility_address_city"   : "%4%5",
      "#facility_address_street" : "%6%7"
    }
  });
});
</script>