<div class="mb-2">
  <%= f.label :title, "施設名" %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="mb-2">
  <%= f.label :body, "施設説明" %>
  <%= f.text_area :body, rows: 5, class: "form-control" %>
</div>

<div>
  <%= f.label :image, "施設画像" %>
  <%= f.file_field :image, accept: "image/*" %>
</div>

<div class="field">
  <%= f.label :postcode, '郵便番号' %>
  <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
</div>
<div class="field">
  <%= f.label :prefecture_name, '都道府県' %>
  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :address_city, '市区町村' %>
  <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :address_street, '番地' %>
  <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
</div>

<div class="field">
  <%= f.label :address_building, '建物' %>
  <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
</div>

<%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
  <%= b.label { b.check_box + b.text } %>
<% end %>

<div class="my-4">
  <%= f.submit "保存する", class: "btn btn-primary" %>
</div>