<div class="container mt-4">

    <div class="col-12 col-md-9 d-flex flex-column align-items-center justify-content-center welcome-container">
      <div class="facilities mt-4 mb-4" >
        <%= link_to '施設を新規登録する', new_member_facility_path %>
        
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>tag</th>
            </tr>
          </thead>
          <tbody>
            <% @facilities.each do |facility| %>
              <tr>
                <td><%= link_to facility.title, member_facility_path(facility) %></td>
                <td><%= facility.body %></td>
                <td><%= link_to '編集する', edit_member_facility_path(facility), class: 'btn btn-outline-custom-color' %></td>
                <td><%= render "member/facilities/tag_list", tag_list: facility.tag_list %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>