<div class="container">
  <div class="facilities-sort">
    <div class="button-wrapper">
      <%= link_to '施設を新規登録する', new_member_facility_path, class: 'btn btn-border' %>
    </div>
    <div class="sorting-options">
      <%= link_to '新しい順', member_facilities_path(latest: "true"), class: 'sort-link' %>
      | <%= link_to '古い順', member_facilities_path(old: "true"), class: 'sort-link' %>
      | <%= link_to '評価の高い順', member_facilities_path(star_count: "true"), class: 'sort-link' %>
    </div>
  </div>

  <% @facilities.each do |facility| %>
    <!-- card-index全体をリンクにする -->
    <%= link_to member_facility_path(facility), class: 'card-index-link' do %>
      <div class="card-index">
        <div class="card-index-header">
          <% if facility.image.attached? %>
            <%= image_tag facility.image, class: 'facility-image' %>
          <% else %>
            <%= image_tag 'facility_no_image.png', class: 'facility-image' %>
          <% end %>
          <div class="facility-info">
            <span class="facility-title"><%= facility.title %></span>
            <div class="rating">
              評価: <%= facility.average_rating.to_f.round(1) %>
              <div class="stars">
                <% rounded_rating = (facility.average_rating * 2).round / 2.0 %>
                <% full_stars = rounded_rating.floor %>
                <% half_star = (rounded_rating - full_stars) >= 0.5 %>
                <% empty_stars = 5 - full_stars - (half_star ? 1 : 0) %>

                <% full_stars.times do %>
                  <%= image_tag 'star-on.png', class: 'star-icon' %>
                <% end %>

                <% if half_star %>
                  <%= image_tag 'star-half.png', class: 'star-icon' %>
                <% end %>

                <% empty_stars.times do %>
                  <%= image_tag 'star-off.png', class: 'star-icon' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="card-index-body">
          <div class="facility-description"><%= truncate(facility.body, length: 100) %></div>
          <div class="tags"><%= render "member/facilities/tag_list", tag_list: facility.tag_list %></div>
          <div>
            〒<%= facility.postcode %>
              <%= facility.prefecture_name %>
              <%= facility.address_city %>
              <%= facility.address_street %>
              <%= facility.address_building %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>