<div class="container">
  <div class="facilities-sort">
    <div class="button-wrapper">
      <%= link_to '施設を新規登録する', new_member_facility_path, class: 'btn btn-border' %>
    </div>
    <div class="sorting-options">
      <%= link_to '新しい順', member_facilities_path(latest: "true"), class: 'sort-link' %>
      <%= link_to '古い順', member_facilities_path(old: "true"), class: 'sort-link' %>
      <%= link_to '評価の高い順', member_facilities_path(star_count: "true"), class: 'sort-link' %>
    </div>
  </div>

  <% @facilities.each do |facility| %>
    <!-- card-index全体をリンクにする -->
    <%= link_to member_facility_path(facility), class: 'card-index-link' do %>
      <div class="card-index">
        <div class="card-index-header">
          <div class="facility-info">
            <span class="facility-title"><%= facility.title %></span>
            <div class="rating">
              総合評価: <%= @facility_ratings[facility.id] || '評価なし' %>
            </div>
          </div>
        </div>

        <div class="card-index-body">
          <div class="facility-description">
            <%= truncate(facility.body, length: 300) %>
            <div>
              〒<%= facility.postcode %>
              <%= facility.prefecture_name %>
              <%= facility.address_city %>
              <%= facility.address_street %>
              <%= facility.address_building %>
            </div>
          </div>
          <div class="tags">
            <%= render "member/facilities/tag_list", tag_list: facility.tag_list %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= paginate @facilities %>
</div>

