<div class="container">
  <div class="row">
    <div class="col-auto">
      <h4 style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">施設詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="d-flex">

      <div>
        <table class="facility_show">
          <tr>
            <th>施設名</th>
            <td><%= @facility.title %></td>
          </tr>
          <tr>
            <th>施設説明</th>
            <td><%= @facility.body %></td>
          </tr>
          <tr>
            <th>tag</th>
            <td><%= render 'member/facilities/tag_list', tag_list: @facility.tag_list %></td>
          </tr>
        </table>

        <!--コメント一覧-->
        <p>コメント一覧</p>
        <% if @comments.nil? %>
          <p>コメントはありません。</p>
        <% else %>
          <% @comments.each do |comment| %>
            <%= comment.body %>
            <%= comment.member.name %>
            <%= link_to '編集する', edit_member_facility_comment_path(comment), class: 'btn btn-primary' %>
          <% end %>
        <% end %>


        <!--コメント機能-->
        <%= form_with(model: [@comment, @facility], url: member_facility_comments_path(@facility), method: :post, local: true) do |f| %>
          <strong>コメントする</strong>
          <div>
            <%= f.text_field :body, autofocus: true, class: "form-control form-control-sm" %>
          </div>
          <div>
            <div>
              <%= f.submit 'コメントする', class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>