<div class="container">
  <div class="row">
    <div class="col-auto">
      <h4 style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">施設詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="d-flex">
      <div>
        <table class="facility_show">
          <tr>
            <td><%= image_tag @facility.image, size: "100x100" if @facility.image.attached? %></td>
            <th>施設名</th>
            <td><%= @facility.title %></td>
          </tr>
          <tr>
            <th>施設説明</th>
            <td><%= @facility.body %></td>
          </tr>
          <tr>
            <th class="table__col1">総合評価</th>
            <td><%= @comments.average(:rate).to_f.round(1) %></td>

          </tr>
          <tr>
            <th>tag</th>
            <td><%= render 'member/facilities/tag_list', tag_list: @facility.tag_list %></td>
          </tr>
          <tr>
            <td><%= link_to '施設内容を編集する', edit_member_facility_path(@facility) %></td>
          </tr>
        </table>

        <!--コメント一覧-->
        <table class="table">
          <thead>
            <tr>
              <th>コメント本文</th>
              <th>メンバー名</th>
              <th>評価</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if @comments.nil? %>
              <tr>
                <td colspan="3">コメントはありません。</td>
              </tr>
            <% else %>
              <% @comments.each do |comment| %>
                <tr>
                  <td><%= comment.body %></td>
                  <td><%= comment.member.name %></td>
                  
                  <td>
                    <div id="review-rating<%= comment.id %>" class="review-rating" data-score=<%= comment.rate %>></div>
                    <%= render partial: "member/comments/show_rate", locals: { comment: comment } %>
                  </td>
                  
                  <% if current_member == @comment.member %>
                    <td><%= link_to '編集する', edit_member_facility_comment_path(@facility, @comment), class: 'btn btn-primary' %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <!--コメント機能-->
        <%= form_with(model: [@facility, @comment], url: member_facility_comments_path(@facility), method: :post, local: true) do |f| %>
          <strong>コメントする</strong>
          <div>
            <%= f.text_field :body, class: "form-control form-control-sm" %>
          </div>
          <td class="table__col1">  
            <div class="field" id="star"><% f.label :all_rating %></div>
          </td>
          </tr>
          <div class="average-review-rating" data-score=<%= @comments.average(:rate) %>></div> 
            <%= render partial: "member/comments/form_rate", locals: { comment: @comment } %>
          <div>
            <%= f.submit 'コメントする', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>