<div class="container">
  <div class="row">
    <div class="col-auto">
      <h4 style="background-color: #f8f9fa; padding: 0.25rem 0.75rem;">施設詳細</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="d-flex">
      
      <div>
        <table class="facility_show">
          <tr>
            <th style="padding-right: 2rem;">施設名</th>
            <td style="padding-left: 2rem;"><%= @facility.title %></td>
          </tr>
          <tr>
            <th style="padding-right: 2rem;">施設説明</th>
            <td style="padding-left: 2rem;"><%= @facility.body %></td>
          </tr>
        </table>
      
      <!--コメント機能-->
<%= form_with(model: @facility, url: member_facility_path(@facility), method: :post, local: true) do |f| %>
        <div class="row mb-1">
          <label for="comments" class="col-sm-2 col-form-label col-form-label-sm"><strong>コメントする</strong></label>
          <div class="col-sm-2">
            <%= f.text_field :body, autofocus: true, class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="row mb-1">
          <label for="comments" class="col-sm-2 col-form-label col-form-label-sm"></label>
          <div class="col-sm-2">
            <%= f.submit 'コメントする', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>